# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Sql

Some of the commonly used libraries used by Data Scientists include:

- pandas
- ScikitLearn
- Pytorch
- Numpy
- Matplotlib

|Data Science tools|
----------------------------
| Jupyter Notebooks       |
| R  Studio               |
|Apche Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python
1. + 
2. "*"
3. ()
4. "-"

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

min = 200

hrs = (min/60)

print(hrs)

3.3333333333333335

**OBJECTIVES**

- Popular languages used by data scientist
- Conversion of Minutes to hours
- Arithemetic Calculation
- List Libraries used by data scientists

## Author

Vyome Pathak